.test-box {
  background: #fff;
  margin: 3% 3% 0% 3%; 
  width: 94%;
  height: 100vh;
}

.card-deck {
  margin: 1em;
}

.card {
  max-width: 15%;
}

.card:hover {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}